<style>
  .container {
     width: 300px;
     background-color: green;
  }
  .content {
     width: 50%;
     background-color: greenyellow;
     height: 200px;
   }
</style>

<div class="container">
   <div class="content">
     <p>Kontakt</p>
   </div>
</div>






<%= Time.now%>
